<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
layout:decorate="~{frontend/frontend-template}">
<head>
<meta charset="ISO-8859-1">
<title>checkin</title>
</head>
<body>
	<th:block layout:fragment="contents">
			<div class="container">
			<div class="row">
				<div class="col-12 col-md-7">
					<div class="card shadow-soft border-light">
						<div class="card-header">
							<h4 class="d-inline-block">Shipping Information</h4>
						</div>
						<div class="card-body">
						<form  class="form" method="post" id="checkout-form">
								<div class="form-group">
									<label for="">Receiver Name</label>
									<input type="text" id="recname" class="form-control" th:value="${receiverName}" />
								</div>
								<div class="form-group">
									<label for="">Receiver Phone</label>
									<input type="text" id="recphone" class="form-control" th:value="${receiverPhone}" />
								</div>
								<div class="form-group">
									<label for="">Receiver Address</label>
									<textarea name=""  id="recaddress" cols="30" rows="10" class="form-control" th:text="${receiverAddress}"></textarea>
								</div>
								<div class="form-group">
									<a th:href="@{/checkin}" class="btn btn-outline-success">Back</a>
									<button type="submit" class="btn btn-outline-danger">Place Order</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-5">
					<div class="card shadow-soft border-light">
						<div class="card-header">
							<h4 class="text-secondary">Order Summary</h4>
						</div>
						<div class="card-body">
							<table class="table shadow-inset rounded">
								<tr>
									<th>Name</th>
									<th>Price</th>
									<th>SubQty</th>
									<th>SubPrice</th>
								</tr>
								<tbody id="checkout-body">
									
								</tbody>
							</table>
							<div class="text-right">
								<span class="mr-2">Total:</span>
								<span id="total"></span>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>